# This is sample file to show you how to use and set the value.
# This file should be copied and renamed according to the dev or prod environment
#
# e.g 
# ---
# for dev environment the file must be named .env.config.dev
# for prod environment the file must be named .env.config.prod
#
#
# For each blockchain you need to set the chain ID at the end of all variables.
#
# e.g:
# ---
# In this file we have 2 blockchains set with chain ID 440 and 1337
#
# You will also need to set the same chain IDs in the following toml files.
#    src.relayer.config.bridge_relayer_config_dev.toml
#    src.relayer.config.bridge_relayer_config.toml
#
# -----------------------------------------------------------------------------
# Blockchain 1 chain id = 440
# ---------------------------
SMART_CONTRACT_ADDRESS_440=<your smart contract address 0x...>
SMART_CONTRACT_DEPLOYMENT_BLOCK_440=0
PROJECT_ID_440=<your project id>
PK_440=<your private key>
RPC_URL_440=http://127.0.0.1:9944/
# -----------------------------------------------------------------------------
# Blockchain 2 chain id = 1337
# ----------------------------
SMART_CONTRACT_ADDRESS_1337=<your smart contract address 0x...>
SMART_CONTRACT_DEPLOYMENT_BLOCK_1337=0
PROJECT_ID_1337=<your project id>
PK_1337=<your private key>
RPC_URL_1337=http://127.0.0.1:8545/
# -----------------------------------------------------------------------------
# Settings for the RabbitMQ Broker
#
RELAYER_REGISTER_HOST="localhost"
RELAYER_REGISTER_USER="guest"
RELAYER_REGISTER_PASSWORD="guest"
RELAYER_REGISTER_PORT=5672
RELAYER_REGISTER_QUEUE_NAME="bridge.relayer.dev"